/* 
.accordion-item .accordion-button {
    padding: 1rem; 
}


.accordion-item .accordion-button  {
    padding: 1rem !important;
}
.accordion-body{
    padding: 1rem !important;
}
.accordion-button::after {
    content: '';
    background-repeat: no-repeat;
    background-position: right 1rem center;
    display: inline-block;
} */
