/* Increase specificity */
.accordion-item .accordion-button {
    padding: 1rem; /* Adjust padding as needed */
}

/* Use !important */
.accordion-item .accordion-button  {
    padding: 1rem !important; /* Adjust padding as needed */
    /*display: flex !important;*/
    /*background-color: var(--bs-accordion-btn-bg) !important;*/
}
.accordion-body{
    padding: 1rem !important; /* Adjust padding as needed */
    /*display: flex !important;*/
}
.accordion-button::after {
    content: '';
    background-repeat: no-repeat;
    background-position: right 1rem center;
    display: inline-block;
}
